.header{
    color: white;
    font-weight: 600;
    font-size: 0.8rem;


    .top{
        display: flex;
        justify-content: space-between;
        padding: 0.7rem 2.5rem;

        .left{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        a{
            display: flex;
            gap: 10px;
            text-decoration: none;
            color: white;
        }

        .icon{
            font-size: 14px;
            cursor: pointer;
        }
    }

    .menubar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;


        .btn{
            display: flex;
            align-items: center;
            color: inherit;
            gap: 0.5rem;
            border: 1px solid white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 0.5rem;

            &:hover{
                background-color: white;
                color: silver;
            }
        }


        .additions{
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .calendar{
                cursor: pointer;
                padding: 5px 10px;
            }

            .search{
                cursor: pointer;
                padding: 5px 10px;
            }

            .location{
                cursor: pointer;
                padding: 5px 10px;
            }
            
        }
    }
}