@keyframes slide-in{
    0%{
        // transform: translateY(-10%);
        height: 0;
    }

    50%{
        height: 100%;
    }

    75%{
        height: 150%;
    }

    100%{
        // transform: translateY(0%);
        max-height: 300%;
    }
}

@keyframes slide-away{
    0%{
        transform: translateX(-20%);
    }
    100%{
        transform: translateX(0);
    }
}
.desktop-nav{

    .menus{
        display: flex;
        list-style: none;
        gap: 1rem;
        align-items: center;

        a, button{
            text-decoration: none;
            color: inherit;
            padding-bottom: 30px;
            padding-top: 15px;
            padding-left: 25px;
            padding-right: 25px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-weight: 500;
        }

        .menu-items{
            position: relative;
            font-size: 14px;

            img{
                width: 70px;
                height: 70px;
                border: 1px solid white;
                border-radius: 50%;
                background-color: silver;
            }


            .dropdown{
                list-style: none;
                position: absolute;
                right: 0px;
                left: 0px;
                background-color: white;
                color: brown;
                min-width: 15rem;
                display: none;
                padding: 1rem 0px;
                // border-radius: 5px;
                font-style: italic;
                overflow: hidden;
                animation: slide-in 200ms ease-in-out both;
                &.show{
                    display: block;
                }

                li{
                    padding: 0.5rem;
                    // animation: slide-away 3s ease-in-out both;
                    a:hover::before{
                        content: "\2014";
                        padding-right: 10px;
                    }
                }
            }
        }
        
    }
}